
@import "media.scss"; 

.Search {

    display: flex; 
    flex-flow: row nowrap; 
    
    @include narrow-screen{
        flex-flow: column nowrap; 
    }

    select, a, button {


        flex: 0 0 8em;

        &.Search-Models {
            flex: 0 0 12em;
        }

        @include narrow-screen {
          &, &.Search-Models {
            margin-top: 0.5em;
            flex: 0 0 auto; 
          }  
        }
        appearance: button;

        display:block;

        font-family: Arial, Helvetica, sans-serif;

        font-size: 16px; 

        background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
        background-position: 97% center;
        background-repeat: no-repeat;
        border: 1px solid #AAA;
        color: #555;
        overflow: hidden;
        padding: 1em 3em 1em 1em;
        text-overflow: ellipsis;
        white-space: nowrap;

        margin-right: 0.5em;
     
    }

    a, button {

        background-image: none;
        text-decoration: none;
        flex: 0 0 auto; // not sure why flexbox isn't playing well. 

        &.not-active {
            cursor: not-allowed ;
            background-color: #999;
          }
    }
}